body {
  font-family: arial;
}
.addToCart {
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 0vh 1vh;
  width: 19vh;
  height: 4vh;
  border-radius: 2vh;
  font-size: 2vh;
}
.requestNow {
  font-weight: bold;
  font-size: 1.5vh;
  background-color: black;
  border: none;
  height: 5.5vh;
  padding: 0vh 2vh;
  border-radius: 1vh;
  color: white;
}
.scheduleForLater {
  font-weight: bold;
  font-size: 1.5vh;
  background-color: rgb(230, 230, 230);
  border: none;
  height: 5.5vh;
  padding: 0vh 2vh;
  border-radius: 1vh;
}
div {
  margin: 2vh 0vh;
}
.second-onOff,
.second-onOff-two,
.second-onOff-three,
.onOff-original,
.onOff,
.onOff-two,
.onOff-three {
  background-color: black;
  color: white;
  padding: 1vh 2vh;
  border-radius: 1vh;
  font-size: 2vh;
  border: none;
  cursor: pointer;
}
.is-toggled {
  background-color: rgb(230, 230, 230);
  color: black;
}
body {
  font-family: Arial;
  padding-bottom: 110px;
}
.subscribe-button {
  background-color: black;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 35px;
}
.calculate-button {
  background-color: green;
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  cursor: pointer;
}
.cost-input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  margin-right: 4px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.redText {
  color: red;
}
.yellowText {
  color: orange;
}
