body {
  background-color: black;
  margin: 0vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
#title {
  font-weight: bold;
  font-size: 3vh;
}
.moveButton {
  text-align: center;
  width: 20vh;
  height: 20vh;
  border: 0.5vh solid white;
  border-radius: 20vh;
  background-color: black;
  font-size: 6vh;
  margin: 1vh 1vh 5vh 0vh;
  cursor: pointer;
}
.resetScore,
.autoPlay {
  padding: 0.5vh 1vh;
  border: 0.5vh solid white;
  font-size: 2vh;
  cursor: pointer;
  z-index: 0;
}
#js-result {
  font-weight: bold;
  font-size: 3vh;
}
.span {
  font-size: 5vh;
}
#js-moves {
  margin: 2vh 0vh 5vh 0vh;
}
.areYouSure-wrapper {
  height: 10vh;
  justify-content: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  width: inherit;
  color: black;
  align-items: center;
  z-index: 10;
}
.areYouSureDiv {
  position: absolute;
  bottom: 50%;
  top: 50%;
  width: 100%;
}
.areYouSure {
  font-size: 3vh;
}
.decision-button {
  padding: 2vh 5vh;
  margin: 1vh;
  font-size: 2vh;
  border: none;
  cursor: pointer;
}
.decision-button:nth-child(2) {
  background-color: rgba(0, 255, 30, 0.4);
}
.decision-button:nth-child(3) {
  background-color: rgba(255, 0, 0, 0.4);
}
